<%- include("partials/header") %>

<div class="container-fluid postLayout">
  <% posts.forEach((post) => { %>
      <div class="container-fluid actualPost">
        <h4 class="postTitle"><%= post.title %></h4>
        <p class="postContent"><%= post.content.substring(0,200) %>... <a href="post/<%=post.title%>">Read more</a></p>
      </div>



  <% }) %>
</div>

<%- include("partials/footer") %>
